body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

#attendance-record {
  height: 700px;
  width: 750px;
  position: relative;
}

#list-body {
  max-height: 500px;
  overflow-y: scroll;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.btn img {
  width: 20px;
  height: 20px;
}

.btn span {
  padding-left: 5px;
}

.btn.btn-primary {
  background-color: #337ab7;
  color: #ffffff;
  border-color: #2e6da4;
}

.btn.btn-primary:hover {
  background-color: #2f659d;
}

.btn.btn-danger {
  background-color: #d9534f;
  color: #ffffff;
  border-color: #d43f3a;
}

.btn.btn-danger:hover {
  background-color: #b02500;
}

.btn.btn-success {
  background-color: #5cb85c;
  color: #ffffff;
  border-color: #4cae4c;
}

.btn.btn-success:hover {
  background-color: #5B8963;
}

.btn-save-attendee {
  margin-left: 15px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.row-container {
  display: flex;
  border-bottom: 1px solid #bbbbbb;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.header .name-panel > label {
  padding-left: 60px;
}

.name-panel {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.name-panel .name {
  padding-left: 10px;
}

.check-opt {
  flex-basis: 25%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

input[type="checkbox"].switch_1 {
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked {
  background: #0ebeff;
}

input[type="checkbox"].switch_1:after {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
  box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
  -webkit-transform: scale(.7);
  transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after {
  left: calc(100% - 1.5em);
}

/* Switch 1 Specific Style End */

.status-img {
  width: 60px;
  height: 60px;
}

.status-img.unhappy {
  background-image: url("images/unhappy.svg");
}

.status-img.happy {
  background-image: url("images/in-love.svg");
}

.list-footer {
  display: none;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.list-footer .name-input-panel {
  margin: 0 15px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: 13px;
  font-size: 16px;
}